.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de largura igual */
    grid-gap: 20px; /* Espaçamento entre as células do grid */
    padding: 20px;
  }

  .item {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fff; /* Adiciona borda branca de 1px */
  }